*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
   
}
body{
    background: linear-gradient(135deg, #e8ceff,#9be4ff);
}
.container{
    border: 2px solid black;
    margin:100px auto;
    width:50vw;
}
.notes{
    display:flex;
   
    align-items: center;
    color:rgb(24, 124, 212);
    font-size: larger;
}
.button{
    background:  blueviolet;
    color: white;
    cursor: pointer;
 height:60px;
  width:200px;
  border: none;
  font-size: 18px;
  outline: none;
  border-radius: 30px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.button img{
    height:30px;
}
.content{
    top:40px;
    position: relative;
    height:35vh;
    width:35vw;
    border:none;
    outline: none;
    background: #ffffff;
    border-radius: 10px;
    padding:10px;
    font-size: 24px;
    overflow: auto;
}
.content img{
    position:absolute;
    right:2px;
    bottom:5px;
    height:40px;
    cursor:pointer;
}
